.task{
    padding-bottom:50px;
    .task-form{
        input{
            width: 100%;
            height: 60px;
            font-size: 2rem;
            background-color: #222;
            color: #fff;
            border-bottom:1px dotted rgb(255, 255, 255,0.4);
            outline:none;
            padding: 35px 0;
        }
    }
    .task-list{
        padding-top: 50px;
        .completed{
            color: #999 !important;
            text-decoration:line-through #85bf6b;
            .cell{
                color: #85bf6b !important;
            }
        }
        ul{
            padding: 0;
            .task-item-content,
            .task-item-edit{
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 24px;
                width: 100%;
                height: 60px;
                border-bottom: 1px dotted rgb(255, 255, 255,0.4);
                .cell{
                    height: 40px;
                    width: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #2a2a2a;
                    color:#555;
                    border-radius: 25px;
                    cursor: pointer;
                }
                .cell:hover{
                    color: #999;
                }
                .task-item-left{
                    display: flex;
                    height: 100%;
                    align-items: center;
                    .task-name{
                        margin: 0;
                        height: 100%;
                        display:flex;
                        align-items: center;
                    }
                    .cell{
                        margin-right: 20px;
                    }
                }
                .task-item-right{
                    display: flex;
                    .cell:first-child{
                        margin-right: 5px;
                    }
                }
                form{
                    width: 100%;
                    input{
                        background-color: #222;
                        color: #fff;
                        outline:none;
                        width: 100%;
                        touch-action: auto;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 600px) {
    .task{
        .task-form{
            input{
                font-size: 1.5rem;
            }
        }
        .task-list{
            ul{
                .task-item-content,
                .task-item-edit{
                    font-size: 18px;
                }
            }
        }
    }
  }